#popup{
    width: 500px;
}
.duration_btn {
    height: 30px;
    width: 30px;
    margin: 10px;
    border-radius: 3px;
    
}

button.current {
    box-shadow: 0 0 0 2px white, 0 0 0 4px black;
}

input{
    height: 30px;
    width: 100px;
}

.selected_btn{
    background-color: #4688f1;
}

#start_btn,#cancle_btn{
    color: white;
}
#progress_bar{
    display: none;
    width: 300px;
}
#start_btn{
    background-color: #3aa757;
}

#cancle_btn{
    display: none;
    background-color: #e8453c;
}